<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Topheman - react-es6-isomorphic</title>
  <% if(env === 'PROD') { %>
  <link rel="stylesheet" type="text/css" href="/assets/css/main<%= hash %>.css">
  <% } else { %>
  <link rel="stylesheet" type="text/css" href="http://localhost:8080/assets/css/main.css">
  <% } %>
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
</head>
<body>
<% include ./partials/analytics %>
<% if(typeof markup !== 'undefined') { %>
<div id="app-container"><%- markup %></div>
<% } %>
<% if(typeof serializedState !== 'undefined') { %>
<script type="text/javascript">
var __DATA__ = <%- serializedState %>;
</script>
<% } %>
<% if(typeof error === 'undefined') { %>
  <% if(env === 'PROD') { %>
  <script src="/assets/js/bundle<%= hash %>.js"></script>
  <% } else { %>
  <script src="http://localhost:8080/webpack-dev-server.js"></script>
  <script src="http://localhost:8080/assets/js/bundle.js"></script>
  <% } %>
<% } %>
</body>
</html><%- bannerHtml %>